<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="fn" value="jay"></parameter>
<parameter name="ln" value="dake"></parameter>
<parameter name="email" value="jaydake9@gmail.com"></parameter>
<parameter name="password" value="dell@123"></parameter>
<parameter name="conpass" value="dell@123"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name=".DemoWebShop"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
